<div class="android-drawer mdl-layout__drawer">
        <span class="mdl-layout-title">
          <img class="android-logo-image" src="images/android-logo-white.png">
        </span>
    <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="">Adicionar Biblioteca</a>
        <a class="mdl-navigation__link" href="">Informar Erro</a>
        <a class="mdl-navigation__link" href="">Login</a>
        <div class="android-drawer-separator"></div>
    </nav>
</div>